body {
    font-family: Arial, sans-serif;
}


.header-bg {
    background-color: rgb(4, 4, 100);
    padding: 40px;
    text-align: center;
}

.logo {
    float: left;
    position: absolute;
    top: 3%;
    left: 4%;
  
}

.page-heading {
    
    position: absolute; /* Position absolutely */
    top: 20px; /* Distance from top */
    left: 7%; /* Distance from left */
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Font size */
    color: white; /* Set text color to white for better readability */
    padding: 10px; /* Add padding for better spacing */
 
    
}



.container {
    display: flex;
    position: relative; /* Make container relative */
    margin-top: 3%;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
}



.input-container {
    margin-right: 20px;

}


.output-container {
    margin-top: 42px;
    margin-left: 30px;
    border: 1px solid #151652; /* Add border */
    height: 493px;

}

.output-container:focus-within{

    border-color: #151652; /* Change border color when highlighted */
    box-shadow: 0 0 20px rgb(3, 39, 77);
}





.template-container{
    position: relative;
    margin-top: -20px;
  
}

.editor-container {
 
    width:600px;
    height : 465px;
    margin : 20px auto;
    position:  relative;

}



#prompt-editor{
    position: absolute;
    left : 0;
    right : 0;
    top : 0;
    bottom: 0;
    height:100%;
    width:100%;
    font-size: 20px;
   


}
#editor {
    position: absolute;
    left : 0;
    right : 0;
    top : -5px;
    bottom: 0;
    height:100%;
    width:100%;
    font-size: 20px;
   


}


textarea {
    width: 500px;
    height: 500px;
    resize: none; /* Prevent resizing of textarea */
    overflow-y: auto; /* Enable vertical scrollbar when needed */
  
    font-size: 16px;
    border-color: #151652;
}

#inputTemplate{
    width: 1280px;
    height: 500px;
    resize: none; /* Prevent resizing of textarea */
    overflow-y: auto; /* Enable vertical scrollbar when needed */
  
    font-size: 16px;
    border-color: #151652;

}

textarea:focus {
    border-color: #151652;
    box-shadow: 0 0 20px rgb(3, 39, 77);
    outline: none;
}
button {
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 170%;
    background-color: #010f3b; /* Blue theme */
    color: white; /* Text color */
    border: none; /* Remove default border */
    border-radius: 20px; /* Rounded corners */
    transition: background-color 0.1s; /* Transition effect */
    font-weight: bold;
}

button:hover {
    background-color: rgb(70, 99, 161); /* Light blue on hover */
    box-shadow: 0 0 20px rgb(3, 39, 77);
    
}


.copy-icon{
    cursor: pointer;
    position: relative;
    top:-10px;
    margin-left: 500px;
    font-weight:normal;
    
}

#prompt-heading{
    
    /* text-align: center; */
    background-color: #f5f6f8; /* Light gray background */
    padding: 5px; /* Add padding for better spacing */
    background: linear-gradient(135deg,#000000, #000000), /* Gradient background for the whole heading */
    linear-gradient(135deg, #5b5ca8,  #f0f0f5); /* Gradient background for the text */
-webkit-background-clip: text, border-box; /* Clip text to its own background and the whole box to the border-box */
-webkit-text-fill-color: transparent; /* Hide text fill */
    font-family: Arial, sans-serif; /* Choose your preferred font-family */
    font-size: 16px; /* Adjust font size */
    font-style: italic;
    font-weight: bold; /* Make text bold */
    color: #333; /* Dark text color */
    margin-top: 0%;
  
}


#template-heading{
    margin-top: -50px;
    background-color: #f5f6f8; /* Light gray background */
    padding: 5px; /* Add padding for better spacing */
    background: linear-gradient(135deg, #000000, #000000), /* Gradient background for the whole heading */
    linear-gradient(135deg,  #5b5ca8, #f0f0f5); /* Gradient background for the text */
-webkit-background-clip: text, border-box; /* Clip text to its own background and the whole box to the border-box */
-webkit-text-fill-color: transparent; /* Hide text fill */
    font-family: Arial, sans-serif; /* Choose your preferred font-family */
    font-size: 16px; /* Adjust font size */
    font-style: italic;
    font-weight: bold; /* Make text bold */
    color: #333; /* Dark text color */
    width: 496px;

}


#prompt-output-heading{
  
    margin-top: -42px;
    background-color: #f5f6f8; /* Light gray background */
    padding: 5px; /* Add padding for better spacing */
    background: linear-gradient(135deg, #000000, #000000), /* Gradient background for the whole heading */
    linear-gradient(135deg,  #5b5ca8, #f0f0f5); /* Gradient background for the text */
-webkit-background-clip: text, border-box; /* Clip text to its own background and the whole box to the border-box */
-webkit-text-fill-color: transparent; /* Hide text fill */
    font-family: Arial, sans-serif; /* Choose your preferred font-family */
    font-size: 16px; /* Adjust font size */
    font-style: italic;
    font-weight: bold; /* Make text bold */
    color: #333; /* Dark text color */
    width: 600px;

}

#fileInput{
    background-color: #010f3b; /* Blue background color */
    color: #f3f3f3; /* Text color */
    padding: 10px 15px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    display: inline-block;
    cursor: pointer; /* Change cursor to pointer */
    margin-top: 10px;
    width: 478px;
    font-weight: bold;
}



#fileInput:hover {
    background-color: rgb(70, 99, 161); /* Light blue on hover */
    box-shadow: 0 0 20px rgb(3, 39, 77);
    
}

.instruction-container {
    
    border: 2px solid #ccc; /* border style */
    border-radius: 10px; /* border corner radius for a nice rounded look */
    padding: 20px; /* padding inside the border for content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* shadow for depth */
    width: 96%;
    max-height: 400px; /* set a maximum height for the container */
    overflow: auto;
 
    margin: 0 auto;
    margin-top: 20px;
}

#instruction-heading {
    color: #12044e; /* text color */
    font-family: Arial, sans-serif; /* font family */
    font-size: 24px; /* font size */
    text-align: center; /* center align the text */
    margin-bottom: 20px; /* add some space below the heading */
}
.instruction-list {
    width: 95%;
    
}

li{
margin-left: 40px;
}
h4{
    margin: 5px;
}

/* .template-container {
    display: none;
} */
